<%- include('../inc/navNV', {tieu_de: 'Du-An' }) %>


    <div id="noidung" class="container">
        <h2 class="d-flex justify-content-center p-2">DANH SÁCH SẢN PHẨM</h2>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown m-1">
                            <a class="nav-link dropdown-toggle btn btn-outline-danger" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Chọn thể loại
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <% listtl.forEach((row)=> { %>
                                    <li><a class="dropdown-item" href="?id_theloai=<%= row._id %>">
                                            <%= row.theloai %>
                                        </a></li>
                                    <% }); %>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="/nhanvien">Tất cả thể loại</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                            </ul>
                        </li>
                        <li class="nav-item m-1">
                            <a class="nav-link btn btn-outline-info" href="/nhanvien/themhd">Tạo hoá đơn</a>
                        </li>
                    </ul>


                    <form class="d-flex" method="GET" action="" id="search-form">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm theo tên"
                            aria-label="Search" name="tensp">
                        <button class="btn btn-warning" type="submit">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </nav>


        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th class="col col-3">Tên sản phẩm</th>
                    <th class="col col-3">Loại sản phẩm</th>
                    <th class="col col-3">Ảnh sản phẩm</th>
                    <th class="col col-3">Tình trạng</th>
                </tr>
            </thead>
            <tbody>
                <% listsp.forEach((row)=> { %>
                    <tr>
                        <td>
                            <h4><a href="sanpham/chitietsp/<%= row.id %>">
                                    <%= row.tensp %>
                                </a></h4>
                        </td>
                        <td>
                            <% if (row.id_theloai?.theloai==null) { %>
                                <p>Đã bị xoá</p>
                                <% } else { %>
                                    <p>
                                        <%= row.id_theloai.theloai %>
                                    </p>
                                    <% } %>
                        </td>
                        <td><img src=<%=row.image %>
                            width="200" height="150" alt="Ảnh đại diện">
                        </td>
                        <td>
                            <script>
                                var tinhtrang;
                                if ('<%= row.soluong %>' >= 1) {
                                    tinhtrang = 'Còn hàng';
                                } else {
                                    tinhtrang = 'Hết hàng';
                                }
                                document.write(tinhtrang);
                            </script>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

    <%- include('../inc/bottom') %>